<mat-card class="login-card">
  <h2 class="text-center">Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <!-- Email -->
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Enter your email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Invalid email format
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter your password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button mat-raised-button  class=" !bg-green-500 w-full mt-4" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</mat-card>
